# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# build helpers
_comparisons_bak/
_races_bak/
_constructors_bak/
_drivers_bak/
_seasons_bak/
_comparisons_fresh/
_races_fresh/
_constructors_fresh/
_drivers_fresh/
_seasons_fresh/
.comparisons_cached
.races_cached
.constructors_cached
.comparisons_seed
.races_seed
.constructors_seed
.drivers_seed
.seasons_seed
.build-config.json
public/flag-icons/

.vercel
